@tailwind base;
@tailwind components;
@tailwind utilities;
  

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    @apply font-jetbrains-mono bg-primary text-white leading-loose;
    min-height: 100vh;
  }
  
  #root {
    min-height: 100vh;
    width: 100%;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline{
    -webkit-text-stroke: 1px #ffffff;
  }
  
  .text-outline-hover{
    -webkit-text-stroke: 1px #F13024;
  }
}

.z-index-negative-100 {
  z-index: -100;
}

.font-jetbrains-mono {
  font-family: 'JetBrains Mono', monospace;
}
